---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/octocat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1496788359'
      Etag:
      - W/"d800bd8e2588948cc6c89455d3e5b11d"
      Last-Modified:
      - Fri, 26 May 2017 00:15:36 GMT
      X-Oauth-Scopes:
      - gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"octocat","id":583231,"avatar_url":"https://avatars0.githubusercontent.com/u/583231?v=3","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","site_admin":false,"name":"The
        Octocat","company":"GitHub","blog":"http://www.github.com/blog","location":"San
        Francisco","email":"octocat@github.com","hireable":null,"bio":null,"public_repos":7,"public_gists":8,"followers":1800,"following":6,"created_at":"2011-01-25T18:44:36Z","updated_at":"2017-05-26T00:15:36Z"}'
  recorded_at: Tue, 06 Jun 2017 21:46:46 GMT
recorded_with: VCR 2.9.3
